{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block lbox %}
<div class="whitebg bloglist">
  <h2 class="htitle"><span class="hnav"></span>{{ title }}</h2>
  <ul>
    {% if is_search %}
        {% for item in new.object_list %}
        <li>
            <h3 class="blogtitle"><a href="{% url 'blog:article' item.article_search.article_type.type_name|urlencode item.title|urlencode %}" target="_blank">{% if item.article_search.is_top %} <b>【顶】</b> {% endif %} {% autoescape off %} {{ item.title }} {% endautoescape %}</a></h3>
            <span class="blogpic imgscale"><i><a href="/list/{% for i in item.article_tags.all|slice:'1' %} {{ i.tag_name|urlencode }} {% endfor %}">{% for i in item.article_tags.all|slice:'1' %} {{ i.tag_name }} {% endfor %}</a></i><a href="{% url 'blog:article' item.article_type.type_name|urlencode item.title|urlencode %}" title=""><img src="{{ MEDIA_URL }}{{ item.article_search.cover }}" alt=""></a></span>
            <p class="blogtext">{% if item.introduction %} {% autoescape off %} {{ item.introduction }} {% endautoescape %} {% else %} {% autoescape off %}{{ item.keyword }}{{ item.content|striptags|truncatechars:110|truncatewords:110 }}{% endautoescape %} {% endif %}</p>
            <p class="bloginfo"><i class="avatar"><img src="{{ MEDIA_URL }}{{ user.photo }}"></i><span>{{ user.name }}</span><span>{{ item.article_search.article_brief_time }}</span><span>【<a href="{% url 'blog:list' item.article_search.article_type.type_name|urlencode %}">{{ item.article_search.article_type.type_name }}</a>】</span></p>
            <a href="{% url 'blog:article' item.article_search.article_type.type_name|urlencode item.title|urlencode %}" class="viewmore">阅读更多</a>
        </li>
        {% endfor %}
    {% else %}
        {% for item in new.object_list %}
        <li>
            <h3 class="blogtitle"><a href="{% url 'blog:article' item.article_type.type_name|urlencode item.title|urlencode %}" target="_blank">{% if item.is_top %} <b>【顶】</b> {% endif %} {{ item.title }}</a></h3>
            <span class="blogpic imgscale"><i><a href="/list/{% for i in item.article_tags.all|slice:'1' %} {{ i.tag_name|urlencode }} {% endfor %}">{% for i in item.article_tags.all|slice:'1' %} {{ i.tag_name }} {% endfor %}</a></i><a href="{% url 'blog:article' item.article_type.type_name|urlencode item.title|urlencode %}" title=""><img src="{{ MEDIA_URL }}{{ item.cover }}" alt=""></a></span>
            <p class="blogtext">{% if item.introduction %} {{ item.introduction }} {% else %} {% autoescape off %}{{ item.content|striptags|truncatechars:110|truncatewords:110 }}{% endautoescape %} {% endif %}</p>
            <p class="bloginfo"><i class="avatar"><img src="{{ MEDIA_URL }}{{ user.photo }}"></i><span>{{ user.name }}</span><span>{{ item.article_brief_time }}</span><span>【<a href="{% url 'blog:list' item.article_type.type_name|urlencode %}">{{ item.article_type.type_name }}</a>】</span></p>
            <a href="{% url 'blog:article' item.article_type.type_name|urlencode item.title|urlencode %}" class="viewmore">阅读更多</a>
        </li>
        {% endfor %}
    {% endif %}
  </ul>
    <div class="pagelist">
            <a title="Total record">
                <b>共 {{ new.pages|length }} 页</b>
            </a>
            {% if new.has_previous %}
            <a href="?{{ new.previous_page_number.querystring }}">&nbsp;&nbsp;{% trans "上一页" %}</a>&nbsp;&nbsp;
            {% endif %}
            {% for page in new.pages %}
            {% if page %}
            {% ifequal page new.number %}
            <a href="?{{ page.querystring }}" class="page"><b>{{ page }}</b></a>
            {% else %}
            <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
            {% endifequal %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            {% if new.has_next %}
            <a href="?{{ new.next_page_number.querystring }}" class="next">{% trans "下一页" %}</a>
            {% endif %}
            <a href="?page={{ new.pages|length }}" class="next">{% trans "尾页" %}</a>
    </div>
</div>
{% for item in left_adv %}
<div class="ad whitebg imgscale">
    <ul>
        {% autoescape off %}
            {{ item.content }}
        {% endautoescape %}
    </ul>
</div>
{% endfor %}
{% endblock %}
{% block rbox %}
<div class="whitebg paihang">
  <h2 class="htitle">点击排行</h2>
    <section class="topnews imgscale">
        {% for item in read_list|slice:'1' %}
        <a href="{% url 'blog:article' item.article_type.type_name|urlencode item.title|urlencode %}"><img src="{{ MEDIA_URL }}{{ item.cover }}"><span>{{ item.title }}</span></a>
        {% endfor %}
    </section>
    <ul>
        {% for item in read_list|slice:'1:' %}
        <li><i></i><a href="{% url 'blog:article' item.article_type.type_name|urlencode item.title|urlencode %}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="whitebg tuijian">
  <h2 class="htitle">本栏推荐</h2>
    {% if recommend %}
        {% for item in recommend|slice:'1' %}
        <section class="topnews imgscale"><a href="{% url 'blog:article' item.article_type.type_name|urlencode item.title|urlencode %}"><img src="{{ MEDIA_URL }}{{ item.cover }}"><span>{{ item.title }}</span></a></section>
        {% endfor %}
        <ul>
            {% for item in recommend|slice:'1:' %}
            <li><a href="{% url 'blog:article' item.article_type.type_name|urlencode item.title|urlencode %}"><i><img src="{{ MEDIA_URL }}{{ item.cover }}"></i><p>{{ item.title }}</p></a></li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<div class="whitebg cloud">
  <h2 class="htitle">标签云</h2>
  <ul>
    {% for item in article_tag %}
    <a href="{% url 'blog:list' item.tag_name|urlencode %}" target="_blank">{{ item.tag_name }}</a>
    {% endfor %}
  </ul>
</div>
{% for item in right_adv %}
<div class="ad whitebg imgscale">
    <ul>
        {% autoescape off %}
            {{ item.content }}
        {% endautoescape %}
    </ul>
</div>
{% endfor %}
{% endblock %}